@model MyFinances.Website.ViewModels.SpendingsSummaryChartVM
@{
    ViewBag.Title = "Spending Summary Chart";
}

<html>

<head>
    <script src="~/Scripts/Chart.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        #spending-summary {
            width: 600px;
            height: 600px;
            border: 1px solid #ddd;
            padding: 1px;
            border-radius: 4px;
        }
    </style>
</head>
<body>
    <div id="spending-summary">
        <canvas id="pie-chart"></canvas>
    </div>
    <script>
        var categories = @Html.Raw(Json.Encode(@Model.Categories));
        var total = @Html.Raw(Json.Encode(@Model.Total));

        var ctx = $('#pie-chart');
        var chart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: categories,
                datasets: [{
                    label: "Spending Summary",
                    data: total,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        '#003f5c',
                        '#2f4b7c',
                        '#665191',
                        '#a05195',
                        '#d45087',
                        '#f95d6a',
                        '#ff7c43',
                        '#ffa600'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        '#003f5c',
                        '#2f4b7c',
                        '#665191',
                        '#a05195',
                        '#d45087',
                        '#f95d6a',
                        '#ff7c43',
                        '#ffa600'
                    ],
                    borderWidth: 1
                        }]
            },

            options: {
                responsive: true,
                title: {
                  display: true,
                  text: 'Top 10 expenses in @Model.Frequency'
                },
                animation: {
                  animateScale: true,
                  animateRotate: true
                },
                //tooltips: {
                //  callbacks: {
                //    label: function(tooltipItem, data) {
        	       //     var dataset = data.datasets[tooltipItem.datasetIndex];
                //      var total = dataset.data.reduce(function(previousValue, currentValue, currentIndex, array) {
                //        return previousValue + currentValue;
                //      });
                //      var currentValue = dataset.data[tooltipItem.index];
                //      var percentage = Math.floor(((currentValue/total) * 100)+0.5);         
                //      return percentage + "%";
                //    }
                //  }
                //},

                maintainAspectRatio: false,
                scales: {
                    xAxles: [
                        {
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                },
                legend: {
                    display: true
                }
            }
        });


    </script>
</body>
@*<div>
        <h1>Pie Chart</h1>
    </div>
    <div>
        <img src="@Url.Action("ChartPie")" alt="Chart" />
    </div>*@
</html>