@using MyFinances.Enums
@model MyFinances.Website.ViewModels.ChartVM
@{
    ViewBag.Title = Model.Title;
}

<script>
    function doIt(item, baseUrl) {
        window.location.href = baseUrl + '?frequency=' + item.value;
    }
</script>

<select onchange="doIt(this,'@Url.Action(Model.Action, "finances")')">
    @foreach (DateFrequency frequency in Enum.GetValues(typeof(DateFrequency)))
    {
        <option value="@frequency" selected="@(Model.Frequency == frequency ? true : false)">@frequency</option>
    }
</select>

@Html.Partial("_Chart", Model)

